# Node.js dependencies
node_modules/

# Next.js build output
.next/

# Environment variables
.env
.env-local
.env.local
client/env-local

# Terraform files
# Local .terraform directories
**/.terraform/*

# State files - may contain sensitive data
*.tfstate
*.tfstate.*

# Variable definition files - may contain sensitive data
*.tfvars
*.tfvars.json

# Override files - for local resource override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Logs
crash.log

# SSH Keys
gorilla_labs_github_actions_ec2
gorilla_labs_github_actions_ec2.pub

